  @use "../../../styles/variables";
  @use "sass:map";


  .merge-section {
      display: flex;
      justify-content: space-between;
      position: relative;
      height: fit-content;
      overflow: visible;
      margin-bottom: 60px;


      .left-box,
      .right-box {
          width: 48%;
          height: 40vh;
          padding: 50px;
          border-radius: 8px;
          transition: 0.3s;
      }





      .left-box {
          background: #ffffff;

          text-align: left;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          border: 0.5px solid variables.$green;

          h4 {
              color: variables.$green;
              font-size: 40px;
              font-weight: 600;
              text-align: left;
          }

        span {
            //   color: variables.$green;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
          }



      }

      .right-box {
          background: variables.$green;
          margin-top: 5%;

          z-index: 1;
          color: #fff;

            h4 {

              font-size: 40px;
              font-weight: 600;
              text-align: left;
              margin-bottom: 40px;
          }

          span {

              font-size: 18px;
              font-weight: 400;
              line-height: 32px;
              text-align: left;
          }

      }



      .big-left-box {
          width: 42%;
          height: fit-content;
          padding: 40px 40px 80px 40px;
          border-radius: 8px;
          transition: 0.3s;
          background: #fff;

          position: relative;
          border: 0.5px solid variables.$green;
          color: variables.$green;


          h4 {
              font-size: 40px;
              font-weight: 600;
              text-align: left;
              margin-bottom: 40px;

          }

          span {
              //   color: variables.$green;
              font-size: 18px;
              font-weight: 400;
              text-align: left;
          }

      }


      .big-right-box {
          width: 55%;
          height: fit-content;
          padding: 40px;
          border-radius: 8px;
          transition: 0.3s;
          background: variables.$green;
          margin-top: 5%;
          color: #fff;
          z-index: 1;

          h4 {

              font-size: 40px;
              font-weight: 600;
              text-align: left;
              margin-bottom: 40px;
          }

          span {

              font-size: 18px;
              font-weight: 400;
              line-height: 32px;
              text-align: left;
          }

      }









  }