  @use "../../../styles/variables";
  @use "sass:map";

  .reveal-card {
      width: 60%;
      // max-width: 700px;
      margin: 0 auto;
      padding: 30px 40px;
      position: relative;
      top: -10px;
      margin-bottom: 30px;
      opacity: 0;

      .reveal-card-border {
          background: linear-gradient(189deg, variables.$green, rgba(0, 91, 255, 0) 50%), linear-gradient(90deg, hsla(0, 0%, 85%, 0) 50%, hsla(0, 0%, 85%, .2));
          border-radius: inherit;
          border-radius: 15px;
          box-sizing: border-box;
          inset: 0;
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: destination-out;
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          padding: 1px;
          pointer-events: none;
          position: absolute;
          z-index: 0;

      }

      .reveal-card-content {

        .content-heading{
            font-size: 14px;
            color: variables.$green;
            font-weight: 600;
            margin-bottom: 50px;
            display: block;
        }

          h2 {
              font-size: 32px;
              font-weight: 600;
              color: variables.$green;
              margin-bottom: 20px;
          }

          .content-p {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.6;
              color: #000;
              text-align: left;
          }


          .reveal-btn{
            display: flex;
            justify-content: right;
            margin-top: 30px;
          }

      }




  }