@use "../../../styles/variables";
@use "sass:map";

.hero{
    width: 100%;
    padding: 40px 0;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;

    .hero-left{
        width: 70%;
        border: 1px solid green;
        p{
            font-size: 16px;
            font-weight: 500;
            color: variables.$green;
            margin-bottom: 30px;

        }

        h2{
        
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 40px;
            
        }

        span{
            font-size: 16px;
            margin-bottom: 50px;
            display: block;


        }

    }

    .hero-right{
        width: 22%;
        height: 40vh;
        border: 1px solid #BCD2E8;
        border-radius: 10px;
        padding: 20px;
        // display:;

        span{
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .dot{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: variables.$green;
                margin-right: 15px;
            }

            p{
                font-size: 14px;
                color: variables.$green;
                font-weight: 500;
            }
        }

    }
}