.a-dropdown-con{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 0;

    .a-link-btn{
        background: #fff;
        color: #132A50;
        font-weight: 500;
    }

    .a-link-btn:hover{
        opacity: .7;
    }


}