@use "../../../styles/variables";
@use "sass:map";


.bridge-con {
   
    width: map.get(variables.$layout-width, "l");
    padding: 40px 0;
    margin: 0 auto;


    .page-intro-p {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 500;

        p {
            width: 50%;
            margin: 40px auto;

        }
    }

    .page-intro-h1 {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 62px;
        font-weight: 600;
        margin: 30px 0;
        line-height: 72px;

    }

    .hero-img-con {
        width: 75%;
        height: 70vh;
        margin: 20px auto;
        filter: blur(1px);

        img {
            width: 100%;
            height: 100%;
        }
    }


    .page-btns {
        width: 65%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
    
    }


    .page-section {
        margin: 80px 0;

        p {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            color: variables.$green;
            margin-bottom: 20px;

        }

        h3 {
            color: variables.$green;
            width: 100%;
            display: block;
            text-align: center;
            font-size: 54px;
            font-weight: 600;
            line-height: 66px;
            margin-bottom: 20px;


        }

        span {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            // color: variables.$green;
        }



        .scroll-merge-wrapper {

            width: 80%;
            margin: 40px auto;
            display: flex;
            flex-direction: column;

          


        }

        .section-btn {
            display: flex;
            justify-content: center;
        }


        .scroll-reveal-wrapper {
            width: 100%;
            margin: 60px auto;
          
            &::after{
                content: "";
                display: table;
                clear: both;
            }

            > :nth-child(odd){
                float: left;
                
            }
            > :nth-child(even){
                float: right;
                
            }

        }






    }




}