.s-dropdown{
    width: 100%;
    background: #132A50;
    height: 50vh;
    display: none;
    position: fixed;
    left: 0;
    z-index: 2;
    padding: 30px 0;
    
}

.s-dropdown-con{
    width: 92%;
    margin: auto;
    border: 1px solid white;
}