@use "../../../styles/variables";
@use "sass:map";



.ehr-section {
  width: 100%;

  // background: #fff;
  overflow: hidden;

  .ehr-section-1 {
    width: map.get(variables.$layout-width, "l");
    margin: 40px auto;


    .hero {

      display: flex;
      justify-content: space-between;
      position: relative;

      .hero-left {
        width: 48%;
        padding-top: 20px;


        .hero-intro,
        .hero-text {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 20px;
        }

        .hero-intro {
          margin-bottom: 20px;
        }

        h2 {
          font-size: 62px;
          font-weight: 600;
          line-height: 76px;
          margin-bottom: 50px;

        }

        .hero-text {
          margin-bottom: 40px;
        }

      }


      .hero-right {
        width: 50%;
        opacity: .7;
        display: inline-block;
        transform-style: preserve-3d;
        perspective: 1200px;
        padding: 40px;


      }

      .tablet {

        max-width: 90%;
        transform: rotate(-5deg);
        transform-origin: center;
        margin-bottom: 1.5rem;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
        transition: transform 0.3s ease;
      }

      .demo-btn {
        background: variables.$green;
        color: #fff;
        border: none;
        transition: background 0.3s ease;

        &:hover {
          background-color: variables.$green;
        }

      }
    }



    .features-section {
      height: fit-content;
      margin-top: 20px;
      padding: 20px 0;

      h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        margin-bottom: 40px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;

      }

      .feature-cards-con {
        width: 100%;
        display: flex;
        // justify-content: center;

        .feature-card {
          width: calc(100% / 3);
          height: 38vh;
          border: 0.5px solid #979895;
          text-align: center;
          padding: 0 30px;


          .icon {
            width: 20%;
            height: 30%;
            margin: 20px auto;

            img {
              width: 100%;
            }

          }


          h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;

          }



          // &:hover {
          //   transform: translateY(-8px);
          // }


        }

      }


    }

  }


  .ehr-section-2 {

    width: 100%;
    // height: 560px;
    background: #fff;
    padding-bottom: 80px;

    .workflow {
      width: map.get(variables.$layout-width, "l");
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // align-items: flex-start;
      padding: 40px 0;


      .text-section {
        width: 48%;
        height: 100%;
 
        h2 {
          font-size: 32px;
          line-height: 40px;
          font-weight: 600;
          margin-bottom: 100px;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          // margin-bottom: 100px;

        }
      }

      span {
        width: 45%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        // align-items: flex-end;


        .highlight-box {
          width: 100%;
          background-color: variables.$green;
          color: #fff;
          padding: 80px 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;


          h4 {
            font-weight: 500;
            margin-bottom: 20px;
          }

          ul {
            list-style: none;
            padding: 0;

            li {
              font-size: 16px;
              margin-bottom: 10px;
            }
          }
        }



      }


    }
  }







}