  .input-field{
      display: flex;
      flex-direction: column;
      width: 48%;
      margin-bottom: 30px;

      label {
        font-weight: 600;
         font-size: 14px;
         width: 100%;
         text-align: left;
         margin-bottom: 10px;

          span {
              color: #e63946;
              margin-left: 2px;
          }
      }

      input{
          padding: 0.75rem;
          border: 1px solid #d1d5db;
          border-radius: 6px;
          font-size: 0.95rem;
          color: #111827;
          transition: all 0.2s ease;

          &:focus {
              outline: none;
              border-color: #31735d;
              box-shadow: 0 0 0 3px rgba(49, 115, 93, 0.2);
          }
      }
  }